@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
        text-align: center;
    }
    .navbar{
        flex-direction: column;
        height: 450px;
        transition: all 0.5s ease-out;
    }
    .rightnav{
        text-align: center;
    }
    .box-main{
        flex-direction: row-reverse;
        max-width: 100%;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
        text-align: center;
    }
}
